@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

.titulo {
  color: #ff9800;
  position: fixed;
  top: 70vh;
  left: 42vw;
  font-weight: 700;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-size: 80px;
  z-index: 1000;
  padding: 12px;
  background-color: #1f1f1fe0;
  border-radius: 30px;
}
