@font-face {
  font-family: "Flexo-Medium";
  src: url("assets/fonts/Flexo-Medium.woff2") format("woff2"), url("assets/fonts/Flexo-Medium.woff") format("woff"), url("assets/fonts/Flexo-Medium.ttf") format("truetype"), url("assets/fonts/Flexo-Medium.eot") format("embedded-opentype");

  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Flexo-Medium";
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light dark;
  color: #7b1fa2;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffc107;
  text-decoration: inherit;
}
a:hover {
  color: #ff9800;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.6em;
  margin: 0.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff5722;
  background-color: #ff0707;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #448aff;
    background-image: url("./assets/pokeback.png");
  }
  a:hover {
    color: #ff9800;
    filter: drop-shadow(0 0 2em #000000aa);
  }
  button {
    background-color: #ffc107;
  }
}
